* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1920px;
}

body {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

hr {
  color: white;
}